.links-header {
  background-color: rgb(47, 90, 125);
  display: flex;
  height: 50px;
  justify-content: space-around;
}

.botao-header {
  background-color: transparent;
  border: none;
  color: white;
  font-size: large;
  font-weight: bold;
  margin-top: 12px;
}

.botao-header:hover {
  cursor: pointer;
}

input {
  margin-bottom: 10px;
}

.conteudo-paginas {
  margin-left: 30px;
  margin-right: 300px;
}

body {
  font-family: 'Roboto', sans-serif;
}

td, th {
  border: 1px solid rgb(210, 211, 218);
  padding: 10px;
}

th {
  background-color: black;
  color: white;
}

table {
  border-collapse: collapse;
}

.botao-deletar-editar {
  background-color: transparent;
  border: none;
}

.botao-registrar-funcionario {
  background-color: rgb(47, 90, 125);
  border-radius: 10px;
  color: white;
  font-weight: bold;
  padding: 10px;
}

.botao-registrar-funcionario:hover {
  cursor: pointer;
}
